@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  position: relative;
  font-family: 'Bree Serif', serif;
  background-color: #D3D3D3; }

.footer {
  position: absolute;
  background-color: #660708; }
  .footer__logo {
    width: 70%;
    margin: 16px; }
  .footer__lista {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end; }
  .footer__item {
    list-style: none;
    margin: 16px; }
    .footer__item__a {
      color: white;
      text-decoration: none; }
  .footer__contacto {
    display: flex;
    flex-direction: column;
    color: #D3D3D3; }

.contenedorCards {
  background-color: #161A1D; }

@media screen and (max-width: 768px) {
  .encabezado__logo {
    width: 90%; }
  .navFlex {
    width: auto; }
  .barraNavegacion__item {
    padding: 0 10px;
    list-style: none;
    font-size: 16px; }
  .barraNavegacion__item {
    width: 40%; }
  .imgMain {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFE; }
  .imgMain img {
    width: 100%; }
  .wiframeForm {
    display: flex;
    flex-direction: column; } }

@media screen and (max-width: 480px) {
  .encabezado__logo {
    padding: 5px; }
  .navFlex {
    display: flex;
    flex-direction: column; }
  .barraNavegacion__item {
    width: 50%; }
  .imgMain H1 {
    font-size: 20px; }
  .tamañoNosotros {
    width: 100%;
    font-size: 15px; }
  .footer__contacto {
    text-align: center;
    font-size: 15px; }
  .footer__item {
    width: 30px; }
  .mapaWiframe {
    width: 85%; } }

.formWire {
  gap: 50px;
  justify-content: center; }

.botonForm {
  width: fit-content;
  padding: 5px;
  border-radius: 6px;
  background-color: #161A1D;
  color: #D3D3D3; }

.imgMain {
  display: flex;
  background-color: #FFFFFE; }

.imgMain img {
  height: 100%;
  width: 100%; }

.tamañoNosotros {
  color: #f5f3f4;
  background-color: #161A1D;
  max-width: fit-content; }

.grilla {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr; }

.item3 {
  grid-column: 1/ span2; }

.mP {
  width: fit-content;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding-left: 10px; }

.contenedorPagos {
  display: flex;
  justify-content: center;
  margin-top: 10px; }

.mediosPago {
  padding: 7rem 0; }

.textoMargen {
  margin: 2rem; }

h1 {
  text-align: center;
  font-size: 3em;
  font-family: 'Patua One', cursive;
  margin: 16px;
  color: #660708; }

.navbar {
  background-color: #161A1D; }

.nav-link {
  color: white;
  font-size: 1.5rem; }

.nav-link:hover {
  color: white; }

.navbar-collapse {
  flex-grow: initial; }
