.imgMain{
    display: flex;
    background-color: #FFFFFE;
}
.imgMain img{
   
   height: 100%;
   width: 100%;
}

.tamañoNosotros{
    color: #f5f3f4;
    background-color: #161a1d;
    max-width: fit-content;
}